.country-card-container {
  background-color: var(--white);
  margin: 2rem;
  /* border: 1px var(--light-gray) solid; */
  border-radius: 11px;
  overflow: hidden;
  box-shadow: 3px 3px 20px 0.1px var(--medium-gray);
}
.country-card {
  list-style: none;
  display: flex;
  gap: 1.4rem;
  flex-direction: column;
  padding: 0 5rem;
  margin-bottom: 2.4rem;
}
.country-card li {
  font-size: 1.4rem;
  font-weight: 500;
  color: var(--gray);
}
.country-img {
  width: 100%;
  aspect-ratio: 5/3;
  /* border-bottom: 2px var(--medium-gray) solid; */
}
.country-name {
  margin: 2.4rem 0;
  /* margin-bottom: 2rem; */
  font-weight: 700;
  font-size: 1.6rem;
  color: var(--dark-gray);
  text-align: center;
}
