.search-block {
  display: flex;
  justify-content: center;
}
.search-box {
  margin-top: 4rem;
  width: 40rem;
  height: 4.2rem;
  padding: 0.4rem 1rem;
  border: 1px var(--medium-gray) solid;
  border-radius: 5px;
  font-size: 1.4rem;
}
.control {
  background-color: var(--secondary-color);
  color: var(--white);
}
.active {
  background-color: var(--secondary-color) !important;
  color: var(--white) !important;
}
.drop-down-contient {
  display: none;
  margin-left: 1.4rem;
  padding: 0.7rem 1.4rem;
}
.aligner-r {
  display: flex;
  align-items: center;
  margin-top: 2rem;
  justify-content: center;
  gap: 7rem;
  color: var(--dark-gray);
}
.aligner-r p {
  font-size: 1.6rem;
  font-weight: 700;
}
