@media (max-width: 60.06em) {
  .aligner-r {
    gap: 4rem;
  }
}
@media (max-width: 53.06em) {
  .aligner-r {
    gap: 3rem;
  }
}
@media (max-width: 43em) {
  .country-filter-btn {
    display: none;
  }
  .drop-down-contient {
    display: inline;
  }
  .aligner-r {
    gap: 2rem;
  }
}
@media (max-width: 30.06em) {
  .search-box {
    margin-top: 3rem;
    max-width: 30rem;
  }
  .aligner-r {
    gap: 1rem;
  }
}
@media (max-width: 21.875em) {
  .search-box {
    max-width: 24rem;
    margin-left: 1rem;
    margin-right: 1rem;
  }
  .aligner-r {
    gap: 0.2rem;
  }
}
