:root {
  --main-color: rgb(15, 119, 96);
  --secondary-color: rgb(26, 93, 180);
  --white: #fff;
  --gray: rgb(116, 116, 116);
  --medium-gray: #ddd;
  --light-gray: rgb(241, 241, 241);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  margin: 0;
  font-family: "Bitter", serif;
}
