.view-neighbour-contries {
  width: 100%;
  /* display: flex;
  /* justify-content: center; */
  /* align-items: center;
  flex-direction: column;
  gap: 4rem; */
}
.view-neighbour-header {
  font-size: 3.6rem;
  text-align: center;
  margin-top: 6rem;
  color: var(--dark-gray);
  margin-bottom: 6rem;
}
.view-neighbour-header span {
  padding: 0.4rem 2rem;
  background-color: var(--secondary-color);
  margin-left: 1rem;
  color: var(--white);
  border-radius: 10px;
}
.selfNeighbour {
  justify-content: center;
  display: flex;
  align-items: center;
  /* 
  margin: 0 auto; */
  border-bottom: solid 2px var(--medium-gray);
}
.selfNeighbour-img {
  aspect-ratio: 6/3;
  /* padding: 2rem; */
  border-radius: 14px;
  box-shadow: 0 0 20px 2px rgba(0, 0, 0, 0.644);
  margin-bottom: 5rem;
}
